{{> navbar}}
<div class="container mt-3">
  <div class="title-home">
    <h1>
      {{#if id}}
      Actualizando el artículo "{{title}}" 
      {{else}}
      Crear un nuevo artículo
      {{/if}}
    </h1>
  </div>
  <!--
    Este formulario se usará tanto para edición como creación, este if nos dice que si viene un id, entonces será un update, si no, será un create.
    Para el action, si viene un id será un post a /articles/:id/update, si no, será un post a /articles/create.
  -->
  <form action="/articles/{{#if id}}{{id}}/update{{else}}create{{/if}}" method="POST">
    <div class="mb-3">
      <label for="title" class="text-home">Nombre de la receta</label>
      <input type="text" class="form-control" name="title" aria-describedby="titleHelp" required="true"
        value="{{title}}">
      <div id="titleHelp" class="form-text text-white">Utiliza el nombre que solia usar tu abuela</div>
    </div>
    <div class="mb-3">
      <label for="content" class="text-home">Pasos a seguir</label>
      <textarea class="form-control" name="content" rows="3" aria-describedby="contentHelp">{{content}}</textarea>
      <div id="contentHelp" class="form-text text-white">Trata de ser muy especifico en las cantidades</div>
    </div>
    <div class="mb-3">
      <button type="submit" class="button-read">Enviar</button>
    </div>
  </form>
</div>